<apex:page standardController="EnCrypt_Decrypt__c" extensions="EncryptExtension">
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection >
                <apex:inputField value="{!encrypt.Name}"/>
                <apex:commandButton value="Encrypt" action="{!Save}"/>
                <apex:commandButton value="Decrypt" action="{!test}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form> 
</apex:page>