<apex:page controller="newOpportunityCreationWizardController" tabStyle="Opportunity">
  <script>
  function confirmCancel() {
      var isCancel = confirm("Are you sure you wish to cancel?");
      if (isCancel) return true;
  
     return false;
  }  
  </script>
  <apex:sectionHeader title="New Customer Opportunity" subtitle="Step 2 of 3"/>
  <apex:form >
    <apex:pageBlock title="Opportunity Information" mode="edit">
      <apex:pageBlockButtons >
        <apex:commandButton action="{!step1}" value="Previous"/>
        <apex:commandButton value="Preview" action="{!previewOpportunities}" title="Opportunity Details" />
          
        <apex:commandButton action="{!step3}" value="Next"/>
        <apex:commandButton action="{!cancel}" value="Cancel" 
                            onclick="return confirmCancel()" immediate="true"/>
      </apex:pageBlockButtons>
      
      <apex:pageBlockSection title="Opportunity Information" columns="1">
          <apex:pageBlockSectionItem >
                  <apex:commandbutton value="Add Mapping" action="{!addMappingRules}" />
          </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
          
                    <apex:outputPanel id="MappingOfRule" style="width:100%" rendered="{!listMapping.size!=0}">
            
                    <apex:dataTable value="{!listMapping}" var="mappingRule"
                        id="dataTableblock" columns="4" columnsWidth="20%"  cellspacing="5%">
                        
                        <apex:column headerValue="From Stage">
                            <apex:selectList multiselect="false" value="{!mappingRule.fromStage}"
                                required="true" size="1">
                                <apex:selectOptions value="{!OpptyStages}" />
                            </apex:selectList>
                        </apex:column>
                        
                        <apex:column headerValue="To Stage">
                            <apex:selectList multiselect="false" value="{!mappingRule.toStage}"
                                required="true" size="1">
                                <apex:selectOptions value="{!OpptyStages}" />
                            </apex:selectList>
                        </apex:column>
                        
                        <apex:column headerValue="Action">
                            <apex:commandLink value="Delete" action="{!removeMappingRow}" immediate="true">
                                <apex:param name="index" value="{!mappingRule.counterWrap}"/>   
                            </apex:commandLink>
                        </apex:column>
                        
                    </apex:dataTable>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                     
      </apex:pageBlockSection>
      
      <apex:pageBlockSection title="Default Stage Mapping">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Default Stage: ">
                            <apex:inputCheckbox value="{!isDefaultStageSelected}"  />
                            
                            <apex:selectList multiselect="false" value="{!defaultStage}"
                            required="false" size="1" >
                            <apex:selectOptions value="{!OpptyStages}" />
                            </apex:selectList>
                            <div class="errorMsgShow">{!defaultStageError}</div>
                    </apex:outputLabel>
                    
                </apex:pageBlockSectionItem> 
            </apex:pageBlockSection>  
    
      </apex:pageBlock>
      
       <apex:pageBlock title="Preview" id="id_ViewOpportunityDetails"  rendered="{!IF(showPreview==true, true, false)}" >
            
            <apex:pageBlockSection >
                <apex:dataTable value="{!opportunityDataToShowPreview}"
                    var="showDetails" columns="4" border="1" cellspacing="5%"
                    columnsWidth="25%" width="235%" cellpadding="3px">
                    <apex:column >
                        <apex:facet name="header"> Total Stage </apex:facet>
                        <apex:outputText value="{!showDetails.stage}" />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header"> Total Number of Opportunities </apex:facet>
                        <apex:outputText value="{!showDetails.totalCount} " />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header"> Total Amount ($) </apex:facet>
                        <apex:outputText value="{!showDetails.totalAmount} " />
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header"> Total SalesPipeline ($) </apex:facet>
                        <apex:outputText value="{!showDetails.totalSalesPipeline} " />
                    </apex:column>

                </apex:dataTable>
            </apex:pageBlockSection>
            <apex:pageBlockSection >
                <apex:commandLink value="Download all opportunities details in .csv format" action="{!printView}"/>
            </apex:pageBlockSection>    
         </apex:pageBlock> 

   </apex:form>   
</apex:page>