<apex:page controller="SelectController">
  <script type="text/javascript">
  function doSomething(value) {
     if (value == 'Upload')
          alert('doing something');
        alert('doing nothing');
        
  }
  </script>
      <apex:form >
          <apex:selectRadio value="{!action}" id="theCommand" onclick="doSomething(this.value)" >
              <apex:selectOptions value="{!listofactions}"/>
          </apex:selectRadio>
          
          <apex:outputText id="show" styleClass="display: none;">Hiiiii swapnil</apex:outputText>
          <apex:outputLabel id="show1" styleClass="display: none;">swapppp</apex:outputLabel>
      </apex:form>
  </apex:page>