<apex:page standardController="Account" extensions="AccountTabView" >
      <apex:sectionHeader title="Account" subtitle="Details"/>
      <apex:form id="formId">
          <apex:pageBlock title="Account Records">
              <apex:pageBlockTable value="{!accountRecords}" var="ac">
                <apex:column headervalue="Owner Name" value="{!ac.Owner.name}"/>
                <apex:column value="{!ac.name}"/>
               
              </apex:pageBlockTable>
           </apex:pageBlock> 
            </apex:form>       
    </apex:page>